h1 {
  font-size: 18px !important;
  font-weight: 300 !important;
  letter-spacing: 0 !important;
}
h2 {
  font-size: 20px !important;
  font-weight: 300 !important;
  letter-spacing: 0 !important;
}
h3 {
  font-size: 22px !important;
  font-weight: 300 !important;
  letter-spacing: 0 !important;
}
h4 {
  font-size: 26px !important;
  font-weight: 300 !important;
  letter-spacing: 0 !important;
}
h5 {
  font-size: 30px !important;
  font-weight: 300 !important;
  letter-spacing: 0 !important;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 24px !important;
  }
  h2 {
    font-size: 28px !important;
  }
  h3 {
    font-size: 32px !important;
  }
  h4 {
    font-size: 40px !important;
  }
  h5 {
    font-size: 48px !important;
  }
}
