@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-weight: bold;
  font-size: 16px;
}

.dot {
  background: radial-gradient(#ffad2a 0%, #eda127 50%, #dd9624 100%);
  border-radius: 100%;
}

.solcelleknapp:hover {
  background-color: "#white";
  background: none !important;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
  font-weight: 300;
}

h5 {
  font-size: 12px;
}

p {
  font-size: 16px;
}

p .tiny {
  font-size: 14px;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.bold {
  font-weight: bold;
}

ol {
  list-style-type: decimal;
  margin-left: 1rem; /* Juster etter behov */
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Legger videoen bak innholdet */
}

.divider {
  width: 80%;
  max-width: 600px;
  height: 1px;
  background: black;
  justify-self: center;
}

.kjøpsbetingelser ul {
  list-style-type: circle;
}

.inputLabel {
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  padding: 4px;
}

.dividerFull {
  width: 100%;
  height: 1px;
  margin-top: 12px;
  background: black;
  justify-self: center;
}

.funkysubtitle {
  background: linear-gradient(90deg, #ff9500 45%, #221e19 97%);
  -webkit-background-clip: text; /* Gjør gradienten synlig på tekst */
  color: transparent; /* Gjør teksten gjennomsiktig for å vise gradienten */
  font-size: 24px;
}

.funkysubtitleWhite {
  background: linear-gradient(90deg, #ff9500 45%, #fff 97%);
  -webkit-background-clip: text; /* Gjør gradienten synlig på tekst */
  color: transparent; /* Gjør teksten gjennomsiktig for å vise gradienten */
  font-size: 24px;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 7px;
  background: grey;
  border-radius: 5px;
  background: rgba(255, 149, 0, 0.27);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffad2a;
  cursor: pointer;
}

input[type="range"]:disabled {
  opacity: 0.5;
  cursor: not-allowed; /* Indikerer at elementet er deaktivert */
}

/* Skjul mobilmeny på større skjermer */
@media (min-width: 768px) {
  .hamburger-menu {
    display: none !important;
  }
  .navbar-links {
    display: none !important;
  }
  .navbar-desktop {
    display: flex !important;
  }
}

/* Vis hamburger-meny på mindre skjermer */
@media (max-width: 767px) {
  .navbar-desktop {
    display: none !important;
  }
  .hamburger-menu {
    display: block !important;
  }
}

.custom-dot-list-style button {
  background: rgba(255, 192, 105, 0.5);
  border: none !important;
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgba(255, 192, 105) !important;
  border: none !important;
}

.blackFade {
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  height: 94px;
  width: 100%;
  top: 0;
  pointer-events: none;
}

.blackFade2 {
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  height: 64px;
  width: 100%;
  bottom: 0;
  pointer-events: none;
}

.blackFade3 {
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  height: 100%;
  width: 64px;
  left: 0;
  top: 0;
}

.blackFade4 {
  background: linear-gradient(-90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  height: 100%;
  width: 64px;
  right: 0;
  top: 0;
}

.blackFade5 {
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  height: 64px;
  width: 100%;
  right: 0;
  top: -64px;
}

.estimateStylingSheet h1 {
  font-size: 24px;
  font-weight: 300;
}

.estimateStylingSheet h2 {
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0.75px;
}

.estimateStylingSheet h3 {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.25px;
}

.estimateStylingSheet p {
  font-weight: 300;
  font-size: 16px;
}

.estimateStylingSheet .smallP {
  font-size: 14px;
}

.estimateStylingSheet .fatP {
  font-weight: 500;
}

.estimateStylingSheet section,
.estimateStylingSheet .sectionContainer {
  padding: 20px;
  max-width: 1200px;
  width: 100%;
}

.estimateStylingSheet .maxSection {
  max-width: none !important;
}

.rounded-checkbox {
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  vertical-align: middle;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.rounded-checkbox:checked {
  appearance: auto;
  clip-path: circle(50% at 50%);
  background-color: #86efac;
}
