.estimateStylingSheet h1 {
  font-size: 18px !important;
  font-weight: 300 !important;
  letter-spacing: 0 !important;
}
.estimateStylingSheet h2 {
  font-size: 20px !important;
  font-weight: 300 !important;
  letter-spacing: 0 !important;
}
.estimateStylingSheet h3 {
  font-size: 22px !important;
  font-weight: 300 !important;
  letter-spacing: 0 !important;
}
.estimateStylingSheet h4 {
  font-size: 26px !important;
  font-weight: 300 !important;
  letter-spacing: 0 !important;
}
.estimateStylingSheet h5 {
  font-size: 30px !important;
  font-weight: 300 !important;
  letter-spacing: 0 !important;
}
@media (min-width: 1024px) {
  .estimateStylingSheet h1 {
    font-size: 20px !important;
  }
  .estimateStylingSheet h2 {
    font-size: 22px !important;
  }
  .estimateStylingSheet h3 {
    font-size: 24px !important;
  }
  .estimateStylingSheet h4 {
    font-size: 26px !important;
  }
  .estimateStylingSheet h5 {
    font-size: 30px !important;
  }
}
